<IfModule mod_rewrite.c>
    Options +FollowSymLinks -MultiViews
    Header set Access-Control-Allow-Origin "*"
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    # add a trailing slash to /wp-admin
    RewriteRule ^wp-admin$ wp-admin/ [R=301,L]
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.*\.php)$ $1 [L]
    RewriteRule . index.php [L]
</IfModule>

<IfModule dir_module>
DirectoryIndex public/
</IfModule>